html{
    font-size: 22px
}

body{
    background-color: burlywood;
    color:black;
}

a{
    color:crimson;
}

a:visited{
    color:darkgray;
}

a:hover, a:active{
    color:#eee;
}

table, tr, th, td, caption{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}